.admin-tabele-container {
    padding: 100px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

section {
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Dugmad sa ikonama */
button {
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttontds {
    display: flex;
    flex-direction: row;
}

button:hover {
    color: #0056b3;
}

/* Stilizacija ikonica */
button i {
    font-size: 26px;
}


/* Hover efekat za dugme za brisanje */
button.delete-button:hover {
    color: #cc0000; /* Tamnija crvena boja za hover efekat */
}
