/* Korpa.css */

.korpa-container {
    max-width: 900px;
    margin: 5% auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    font-family: "Bai Jamjuree", sans-serif;

}

.korpa-container:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.korpa-header {
    text-align: center;
    color: #222;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
}

.korpa-empty {
    text-align: center;
    color: #888;
    font-size: 20px;
}

.korpa-list {
    list-style: none;
    padding: 0;
}

.korpa-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
}

.korpa-item:hover {
    background-color: #f1f1f1;
}

.korpa-remove-button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    background-color: #e74c3c;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.korpa-remove-button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

.korpa-quantity-input {
    width: 60px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: center;
    margin-right: 10px;
}

.korpa-discount {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.korpa-discount-input {
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 250px;
    margin-right: 10px;
}

.korpa-apply-discount-button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.korpa-apply-discount-button:disabled {
    background-color: #7f8c8d;
}

.korpa-apply-discount-button:hover {
    background-color: #2ecc71;
}

.korpa-total {
    margin-top: 15px;
    text-align: right;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.korpa-checkout-button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 30px;
}

.korpa-checkout-button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.korpa-checkout-button:hover:not(:disabled) {
    background-color: #2980b9;
    transform: scale(1.05);
}
