/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px; /* Dodao sam padding kako bi My E-Shop bio dalje od ivice */
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  max-width: 1200px;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #007bff;
  margin-left: 20px; /* Razmak između logotipa i navigacije */
}

.nav {
  display: flex;
  align-items: center;
  position: relative;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px; /* Razmak između linkova */
}

.nav li {
  margin: auto;
}

.nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
}

.nav a:hover {
  color: #007bff; /* Jednostavan hover efekat */
}

.logout-button {
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
}

.logout-button:hover {
  background-color: #c82333; /* Jednostavan hover efekat */
}

/* Stilovi za manje ekrane */
@media (max-width: 768px) {
  .nav {
      flex-direction: column;
      align-items: flex-start;
  }

  .nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      padding: 0;
      background-color: #fff;
      border-top: 1px solid #ddd;
      margin-top: 10px;
  }

  .nav.active ul {
      display: flex;
  }

  .nav li {
      margin: 0;
      margin-bottom: 10px;
  }

  .nav a {
      font-size: 18px;
  }

  .menu-toggle {
      display: block;
      cursor: pointer;
      font-size: 24px;
  }
}

/* Sakrij hamburger meni za veće ekrane */
@media (min-width: 769px) {
  .menu-toggle {
      display: none;
  }
}
